<!DOCTYPE html>
<!-- saved from url=(0040)https://chienbinhloship.com/#form-loship -->
<html style="" class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Đăng ký trở thành đối tác của
        <%= data.TenApp %> - nhanh và miễn phí</title>
    <!-- META TAGS -->
    <link rel="shortcut icon" href="<%= data.Favicon %>" type="image/png">
    <meta name="description" content="<%= data.MoTa %>">
    <meta type="keywords" content="<%= data.TuKhoa %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href=" " sizes="any" type="image/svg+xml">
    <meta property="og:title" content="Đăng ký trở thành đối tác của <%= data.TenApp %> - nhanh và miễn phí">
    <meta property="og:type" content="Website">
    <meta property="og:description" content="Đăng ký trở thành đối tác của <%= data.TenApp %> - nhanh và miễn phí">
    <meta property="og:image" content="https://landing.loship.vn/wp-content/uploads/2020/11/tuyen_dung_11.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="628">

    <!-- LINK TAGS -->

    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
    <link href="/static/css/bootstrap1.min.css" rel="stylesheet" />
    <link href="/static/css/gsdk-bootstrap-wizard.css" rel="stylesheet" />
    <link href="/static/css/demo.css" rel="stylesheet" />
    <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css">
    <link rel="stylesheet" type="text/css" href="/static/css/footer.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.min.css">
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/static/css/red.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/xcode.min.css" />
    <script src="/static/js/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap-select-country.min.css" />

    <link rel="stylesheet" href="/static/css/timepicker.css">

    <script type="text/javascript">
        window._wpemojiSettings = {
            "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/11\/72x72\/",
            "ext": ".png",
            "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/11\/svg\/",
            "svgExt": ".svg",
            "source": {
                "concatemoji": "https:\/\/landing.loship.vn\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.11"
            }
        };
        ! function(a, b, c) {
            function d(a, b) {
                var c = String.fromCharCode;
                l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, a), 0, 0);
                var d = k.toDataURL();
                l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, b), 0, 0);
                var e = k.toDataURL();
                return d === e
            }

            function e(a) {
                var b;
                if (!l || !l.fillText) return !1;
                switch (l.textBaseline = "top", l.font = "600 32px Arial", a) {
                    case "flag":
                        return !(b = d([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819])) && (b = d([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]), !b);
                    case "emoji":
                        return b = d([55358, 56760, 9792, 65039], [55358, 56760, 8203, 9792, 65039]), !b
                }
                return !1
            }

            function f(a) {
                var c = b.createElement("script");
                c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c)
            }
            var g, h, i, j, k = b.createElement("canvas"),
                l = k.getContext && k.getContext("2d");
            for (j = Array("flag", "emoji"), c.supports = {
                    everything: !0,
                    everythingExceptFlag: !0
                }, i = 0; i < j.length; i++) c.supports[j[i]] = e(j[i]), c.supports.everything = c.supports.everything && c.supports[j[i]], "flag" !== j[i] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[j[i]]);
            c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function() {
                c.DOMReady = !0
            }, c.supports.everything || (h = function() {
                c.readyCallback()
            }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", h, !1), a.addEventListener("load", h, !1)) : (a.attachEvent("onload", h), b.attachEvent("onreadystatechange", function() {
                "complete" === b.readyState && c.readyCallback()
            })), g = c.source || {}, g.concatemoji ? f(g.concatemoji) : g.wpemoji && g.twemoji && (f(g.twemoji), f(g.wpemoji)))
        }(window, document, window._wpemojiSettings);
    </script>
    <script src="/static/js/wp-emoji-release.min.js" type="text/javascript" defer=""></script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel="stylesheet" id="wpos-slick-style-css" href="/static/css/slick.css" type="text/css" media="all">
    <link rel="stylesheet" id="wpsisac-public-style-css" href="/static/css/slick-slider-style.css" type="text/css" media="all">
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/jquery-migrate.min.js"></script>
    <script type="text/javascript">
        /* <![CDATA[ */
        var frontEndAjax = {
            "ajaxurl": "https:\/\/landing.loship.vn\/wp-admin\/admin-ajax.php",
            "nonce": "f88a379ba3"
        };
        /* ]]> */
    </script>
    <script type="text/javascript" src="/static/css/my_script_file.js"></script>
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://landing.loship.vn/xmlrpc.php?rsd">


    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
    <style type="text/css" data-fbcssmodules="css:fb.css.basecss:fb.css.dialog css:fb.css.iframewidget">
        .fb_hidden {
            position: absolute;
            top: -10000px;
            z-index: 10001
        }
        
        .fb_reposition {
            overflow: hidden;
            position: relative
        }
        
        .fb_invisible {
            display: none
        }
        
        .fb_reset {
            background: none;
            border: 0;
            border-spacing: 0;
            color: #000;
            cursor: auto;
            direction: ltr;
            font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
            font-size: 11px;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            letter-spacing: normal;
            line-height: 1;
            margin: 0;
            overflow: visible;
            padding: 0;
            text-align: left;
            text-decoration: none;
            text-indent: 0;
            text-shadow: none;
            text-transform: none;
            visibility: visible;
            white-space: normal;
            word-spacing: normal
        }
        
        .fb_reset>div {
            overflow: hidden
        }
        
        @keyframes fb_transform {
            from {
                opacity: 0;
                transform: scale(.95)
            }
            to {
                opacity: 1;
                transform: scale(1)
            }
        }
        
        .fb_animate {
            animation: fb_transform .3s forwards
        }
        
        .fb_dialog {
            background: rgba(82, 82, 82, .7);
            position: absolute;
            top: -10000px;
            z-index: 10001
        }
        
        .fb_dialog_advanced {
            border-radius: 8px;
            padding: 10px
        }
        
        .fb_dialog_content {
            background: #fff;
            color: #373737
        }
        
        .fb_dialog_close_icon {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;
            cursor: pointer;
            display: block;
            height: 15px;
            position: absolute;
            right: 18px;
            top: 17px;
            width: 15px
        }
        
        .fb_dialog_mobile .fb_dialog_close_icon {
            left: 5px;
            right: auto;
            top: 5px
        }
        
        .fb_dialog_padding {
            background-color: transparent;
            position: absolute;
            width: 1px;
            z-index: -1
        }
        
        .fb_dialog_close_icon:hover {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent
        }
        
        .fb_dialog_close_icon:active {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent
        }
        
        .fb_dialog_iframe {
            line-height: 0
        }
        
        .fb_dialog_content .dialog_title {
            background: #6d84b4;
            border: 1px solid #365899;
            color: #fff;
            font-size: 14px;
            font-weight: bold;
            margin: 0
        }
        
        .fb_dialog_content .dialog_title>span {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;
            float: left;
            padding: 5px 0 7px 26px
        }
        
        body.fb_hidden {
            height: 100%;
            left: 0;
            margin: 0;
            overflow: visible;
            position: absolute;
            top: -10000px;
            transform: none;
            width: 100%
        }
        
        .fb_dialog.fb_dialog_mobile.loading {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;
            min-height: 100%;
            min-width: 100%;
            overflow: hidden;
            position: absolute;
            top: 0;
            z-index: 10001
        }
        
        .fb_dialog.fb_dialog_mobile.loading.centered {
            background: none;
            height: auto;
            min-height: initial;
            min-width: initial;
            width: auto
        }
        
        .fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner {
            width: 100%
        }
        
        .fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content {
            background: none
        }
        
        .loading.centered #fb_dialog_loader_close {
            clear: both;
            color: #fff;
            display: block;
            font-size: 18px;
            padding-top: 20px
        }
        
        #fb-root #fb_dialog_ipad_overlay {
            background: rgba(0, 0, 0, .4);
            bottom: 0;
            left: 0;
            min-height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            z-index: 10000
        }
        
        #fb-root #fb_dialog_ipad_overlay.hidden {
            display: none
        }
        
        .fb_dialog.fb_dialog_mobile.loading iframe {
            visibility: hidden
        }
        
        .fb_dialog_mobile .fb_dialog_iframe {
            position: sticky;
            top: 0
        }
        
        .fb_dialog_content .dialog_header {
            background: linear-gradient(from(#738aba), to(#2c4987));
            border-bottom: 1px solid;
            border-color: #043b87;
            box-shadow: white 0 1px 1px -1px inset;
            color: #fff;
            font: bold 14px Helvetica, sans-serif;
            text-overflow: ellipsis;
            text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0;
            vertical-align: middle;
            white-space: nowrap
        }
        
        .fb_dialog_content .dialog_header table {
            height: 43px;
            width: 100%
        }
        
        .fb_dialog_content .dialog_header td.header_left {
            font-size: 12px;
            padding-left: 5px;
            vertical-align: middle;
            width: 60px
        }
        
        .fb_dialog_content .dialog_header td.header_right {
            font-size: 12px;
            padding-right: 5px;
            vertical-align: middle;
            width: 60px
        }
        
        .fb_dialog_content .touchable_button {
            background: linear-gradient(from(#4267B2), to(#2a4887));
            background-clip: padding-box;
            border: 1px solid #29487d;
            border-radius: 3px;
            display: inline-block;
            line-height: 18px;
            margin-top: 3px;
            max-width: 85px;
            padding: 4px 12px;
            position: relative
        }
        
        .fb_dialog_content .dialog_header .touchable_button input {
            background: none;
            border: none;
            color: #fff;
            font: bold 12px Helvetica, sans-serif;
            margin: 2px -12px;
            padding: 2px 6px 3px 6px;
            text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0
        }
        
        .fb_dialog_content .dialog_header .header_center {
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            line-height: 18px;
            text-align: center;
            vertical-align: middle
        }
        
        .fb_dialog_content .dialog_content {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;
            border: 1px solid #4a4a4a;
            border-bottom: 0;
            border-top: 0;
            height: 150px
        }
        
        .fb_dialog_content .dialog_footer {
            background: #f5f6f7;
            border: 1px solid #4a4a4a;
            border-top-color: #ccc;
            height: 40px
        }
        
        #fb_dialog_loader_close {
            float: left
        }
        
        .fb_dialog.fb_dialog_mobile .fb_dialog_close_icon {
            visibility: hidden
        }
        
        #fb_dialog_loader_spinner {
            animation: rotateSpinner 1.2s linear infinite;
            background-color: transparent;
            background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);
            background-position: 50% 50%;
            background-repeat: no-repeat;
            height: 24px;
            width: 24px
        }
        
        @keyframes rotateSpinner {
            0% {
                transform: rotate(0deg)
            }
            100% {
                transform: rotate(360deg)
            }
        }
        
        .fb_iframe_widget {
            display: inline-block;
            position: relative
        }
        
        .fb_iframe_widget span {
            display: inline-block;
            position: relative;
            text-align: justify
        }
        
        .fb_iframe_widget iframe {
            position: absolute
        }
        
        .fb_iframe_widget_fluid_desktop,
        .fb_iframe_widget_fluid_desktop span,
        .fb_iframe_widget_fluid_desktop iframe {
            max-width: 100%
        }
        
        .fb_iframe_widget_fluid_desktop iframe {
            min-width: 220px;
            position: relative
        }
        
        .fb_iframe_widget_lift {
            z-index: 1
        }
        
        .fb_iframe_widget_fluid {
            display: inline
        }
        
        .fb_iframe_widget_fluid span {
            width: 100%
        }
    </style>
    <% if(data.messenger!=''){%>
        <script>
            alert('<%=messenger%>');
        </script>
    <%}%>
</head>

<body>

    <div id="fb-root" class=" fb_reset">
        <div style="position: absolute; top: -10000px; width: 0px; height: 0px;">
            <div></div>
        </div>
    </div>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId: '600859170003466',
                xfbml: true,
                version: 'v2.8'
            });
        };
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/vi_VN/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="container-fluid">
        <div class="row row-header">
            <a href="/">
                <img src="<%= data.Logo %>" id="logo" style="margin:10px 20px">
            </a>
        </div>

        <!-- SECTION 1 -->
        <div class="wrap-section-1" id="section-1">

            <div class="row section-1" style="z-index:9;background-image: url('/static/images/doi-ngu-cuu-ho-oto.jpg');">
                <div class="container">
                    <div class="content">
                        <h1>Trở thành đối tác của
                            <%= data.TenApp %> - nhanh và miễn phí</h1>
                        <p>Dễ dàng trở thành đối tác của
                            <%= data.TenApp %> - ứng dụng cứu hộ giao thông - quảng bá dịch vụ của bạn đến với mọi người.</p>
                    </div>
                </div>
            </div>

            <div class="loship-form col-lg-6 px-0">
                <div class="wizard-container" style="padding-top:0 !important">
                    <div class="card wizard-card" data-color="green" id="wizard">
                        <form action="" method="post" id="myForm">
                            <div class="wizard-header">
                                <h3 style="margin:25px 0 !important;">ĐĂNG KÝ LÀM ĐỐI TÁC</h3>
                            </div>
                            <div class="wizard-navigation" style="display:none;">
                                <ul>
                                    <li><a href="#location" data-toggle="tab">Cá nhân</a></li>
                                    <li><a href="#type" data-toggle="tab">Doanh nghiệp</a></li>
                                    <li><a href="#description" data-toggle="tab">Tài khoản</a></li>
                                </ul>
                            </div>

                            <div class="tab-content">
                                <div class="tab-pane" id="location" style="padding:0 20px">
                                    <div class="row">

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Họ tên người đại diện:</label>
                                                <input type="text" class="form-control" name="hoten" id="hoten" placeholder="Nhập đầy đủ họ và tên..." required>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Số điện thoại</label>
                                                <input type="text" class="form-control" name="sdt" id="sdt" placeholder="Nhập số điện thoại hay dùng..." required>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input type="email" class="form-control" name="email" id="email" placeholder="Nhập email hay dùng..." required>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Giới tính</label><br>
                                                <select name="gioitinh" class="form-control">
                                                    <option value="1"> Nam </option>
                                                    <option value="0"> Nữ </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Ngày sinh</label>
                                                <div id="datepicker" class="input-group date" data-date-format="dd-mm-yyyy">
                                                    <input class="form-control" name="ngaysinh" readonly="" type="text" id="ngaysinh" required/>
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Địa chỉ thường trú</label>
                                                <input type="text" id="diachithuongtru" name="diachithuongtru" class="form-control" placeholder="Click biểu tượng bên cạnh để chọn..." readonly="true" required>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="tab-pane" id="type" style="padding:0 20px">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Mã số doanh nghiệp:</label>
                                                <input type="text" class="form-control" name="maso" id="maso" placeholder="Nếu có">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Tên doanh nghiệp:</label>
                                                <input type="text" class="form-control" name="tendoanhnghiep" id="tendoanhnghiep" placeholder="Nhập đầy đủ họ và tên..." required>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Loại hình kinh doanh</label><br>
                                                <select name="loaihinh" class="form-control">
                                                    <option value="1">Trung Tâm Cứu Hộ</option>
                                                    <option value="2">Tiệm Sửa Xe</option>
                                                    <option value="3">Garage Ôtô</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Ngày hoạt động</label>
                                                <div id="ngayhoatdong" class="input-group date" data-date-format="dd-mm-yyyy">
                                                    <input class="form-control" name="ngayhoatdong" readonly="" type="text" id="ngayhoatdong" required/>
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Lĩnh vực kinh doanh</label>
                                                <div id="loaidichvu" class="ml-3">
                                                    <div class="checkbox">
                                                        <label><input type="checkbox" name="loaidichvu[]" value="1" class="dichvu">Cứu hộ xe máy</label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label><input type="checkbox" name="loaidichvu[]" value="2" class="dichvu">Cứu hộ ôtô</label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label><input type="checkbox" name="loaidichvu[]" value="3" class="dichvu">Cứu hộ xe điện</label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label><input type="checkbox" name="loaidichvu[]" value="10" class="dichvu">Sửa chữa xe máy</label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label><input type="checkbox" name="loaidichvu[]" value="5" class="dichvu">Sửa chữa xe điện</label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label><input type="checkbox" name="loaidichvu[]" value="6" class="dichvu">Sửa chữa ôtô</label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label><input type="checkbox" name="loaidichvu[]" value="7" class="dichvu">Thợ sửa khóa xe</label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label><input type="checkbox" name="loaidichvu[]" value="4" class="dichvu">Giao xăng hộ</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Giới thiệu ngắn về doanh nghiệp</label>
                                                <textarea class="form-control" name="gioithieu" placeholder="" rows="6"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Website/Fanpage/Facebook các nhân</label>
                                                <input type="text" class="form-control" name="website" id="website" placeholder="Nhập link của bạn tại đây..." required/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="tab-pane" id="description" style="padding:0 20px">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Tên đăng nhập:</label>
                                                <input type="text" class="form-control" name="username" id="username" placeholder="VD: teoem..." required>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Mật khẩu:</label>
                                                <input type="password" class="form-control" name="password" id="password" placeholder="Mật khẩu của bạn..." required>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Nhập lại mật khẩu:</label>
                                                <input type="password" class="form-control" name="againPassword" id="again-password" placeholder="Nhập lại mật khẩu của bạn..." required>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <div id="captcha"></div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 mt-5">
                                            <div class="form-group">
                                                <label>Lưu ý khi đặt mật khẩu:</label>
                                                <ul>
                                                    <li>Mật khẩu phải bắt đầu bằng 1 ký tự hoa</li>
                                                    <li>Mật khẩu phải chứa ít nhất 1 ký tự thường</li>
                                                    <li>Mật khẩu phải chứa ít nhất 1 ký tự số</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wizard-footer ">
                                <div class="pull-right ">
                                    <input type='button' class='btn btn-next btn-fill btn-success btn-wd btn-sm' name='next' value='Tiếp theo' />
                                    <input type='submit' class='btn btn-finish btn-fill btn-success btn-wd btn-sm' id="finish" name='finish' value='Đăng ký' />

                                </div>
                                <div class="pull-left ">
                                    <input type='button' class='btn btn-previous btn-fill btn-default btn-wd btn-sm' name='previous' value='Trước đó' />
                                </div>
                                <div class="clearfix "></div>
                            </div>

                        </form>
                    </div>
                </div>

            </div>

        </div>
        <!-- /SECTION 1 -->

        <!-- SECTION 2 -->
        <div class="row section-2 ">
            <div class="container ">
                <h2>3 lợi ích khi tham gia
                    <%= data.TenApp %>
                </h2>
                <div class="row ">
                    <div class="col-md-4 ">
                        <img src="/static/images/col-1.svg " alt="Công việc tự do, văn minh và hiện đại ">
                        <h3>Thu hút thêm nhiều khách hàng tiềm năng mới</h3>
                        <ul>
                            <li>Là cơ hội để quảng bá dịch vụ của bạn</li>
                            <li>Thông tin dịch vụ của bạn được giới thiệu đến khách hàng một cách đầy đủ và minh bạch</li>
                            <li>Tạo điều kiện tốt nhất cho khách hàng có thể kết nối với dịch vụ của bạn</li>
                        </ul>
                    </div>
                    <div class="col-md-4 ">
                        <img src="/static/images/col-2.svg " alt="Thu nhập cao và hợp pháp ">
                        <h3>Doanh thu tăng và đều đặn</h3>
                        <ul>
                            <li>Khi bạn tham gia vào môi trường cứu hộ của chúng tôi, khi khách hàng tìm đến chúng tôi, thì đồng thời cũng sẽ tìm đến dịch vụ của bạn</li>
                            <li>Với số lượng khách hàng ổn định, chúng tôi cam kết sẽ mang lại cho bạn doanh thu đều đặn và ngày càng tăng</li>
                        </ul>
                    </div>
                    <div class="col-md-4 ">
                        <img src="/static/images/col-3.svg " alt="Đăng kí nhanh và dễ dàng ">
                        <h3>Đăng ký dễ dàng, nhanh chóng và gọn gàng</h3>
                        <ul>
                            <li>Dễ dàng: Bạn chỉ cần điền và gửi đơn đăng ký bên trên. </li>
                            <li>Nhanh chóng: Trong vòng 24 giờ sau khi điền đơn đăng ký, chúng tôi sẽ trực tiếp liên hệ bạn để tư vấn, hoàn thiện hồ sơ của bạn, và phê duyệt.</li>
                            <li>Gọn gàng: Hiện tại bạn chỉ cần chuẩn bị ảnh chụp 2 mặt trước và mặt sau (CMND/CCCD/Hộ chiếu) đối với cá nhân chưa đăng ký kinh doanh.</li>
                            <li>Ảnh chụp giấy phép kinh doanh/giấy phép đăng ký kinh doanh đối với doanh nghiệp hoặc cá nhân đã đăng ký kinh doanh.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /SECTION 2 -->

        <!-- SECTION 3 -->
        <div class="row section-3 " style="z-index:9;background-image: url('/static/images/bg-dt.jpg'); ">
            <!-- <div class="dark-bg "></div> -->
            <div class="container ">
                <h2> Gia nhập
                    <%= data.TenApp %> ngay hôm nay!</h2>
                <p class="des ">Gia nhập đội ngũ
                    <%= data.TenApp %> để làm việc trong môi trường tự do, văn minh và chuyên nghiệp.
                </p>
                <a href="#" class="btn-loship btn-beome-driver js-btn-become-driver ">Trở thành đối tác của <%= data.TenApp %></a>
            </div>
        </div>
        <!-- /SECTION 3 -->

        <!-- SECTION 6 -->
        <div class="row section-6">

            <!-- FOOTER -->
            <footer class="col-12">
                <div class="container content">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 col-md-4 mr-5">
                            <img style="margin-bottom: 20px;" class="img-responsive" src="<%= data.Logo %>">
                            <p>
                                <%= data.MoTa %>
                            </p>
                            <ul class="row">
                                <li class="col-sm-6 px-2 py-0">
                                    <a class="app-store btn btn-dark" href="<%= data.APK %>"><img src="/static/images/app-store.png" alt="store" height="35px"></a>
                                </li>
                                <li class="col-sm-6 px-2 py-0">
                                    <a class="play-store btn btn-primary" href="<%= data.IOS %>"><img src="/static/images/play-store.png" alt="store" height="35px"></a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-xs-12 col-md-2 px-2 mt-3 mt-sm-0 mr-3">
                            <p class="nav-title">Quick Links</p>
                            <ul>
                                <li><a class="" href="#">Home</a></li>
                                <li><a class="" href="#">Features</a></li>
                                <li><a class="" href="#">Testimonial</a></li>
                                <li><a class="" href="#">Pricing</a></li>
                                <li><a class="" href="#">Contact</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-xs-12 col-md-2 px-2 mr-3">
                            <p class="nav-title">Support</p>
                            <ul class="hoptac">
                                <li><a class="" href="#">FAQ</a></li>
                                <li><a class="" href="#">Privacy Policy</a></li>
                                <li><a class="" href="#">Terms Of Use</a></li>
                                <li><a class="" href="#">Legal</a></li>
                                <li><a class="" href="#">Site Map</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-12 col-xs-12 col-md-3 px-2">
                            <p class="nav-title">Information</p>
                            <ul class="vinhdanh">
                                <li>
                                    <div class="contact-info d-flex">
                                        <div class="info-content media-body">
                                            <p class="text"><i class="lni lni-phone"></i>&nbsp;&nbsp;
                                                <%= data.Hotline %>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="contact-info d-flex">
                                        <div class="info-content media-body">
                                            <p class="text"><a href="#"><i
                                                        class="lni lni-envelope"></i>&nbsp;&nbsp;<%= data.Email %></a>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="contact-info d-flex">
                                        <div class="info-content media-body">
                                            <p class="text"><a href="#"><i
                                                        class="lni lni-world"></i>&nbsp;&nbsp;<%= data.Website %></a></p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="contact-info d-flex">
                                        <div class="info-content media-body">
                                            <p class="text"><i class="lni lni-map"></i>&nbsp;&nbsp;
                                                <%= data.TruSoChinh %>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>


                    </div>
                </div>

                <script>
                    window.onscroll = function() {
                        checkScroll()
                    };
                    var url = window.location.origin + window.location.pathname;
                    jQuery('.select-lang').change(function() {
                        var lang = jQuery(this).val();
                        window.location.href = url + '?lang=' + lang;
                    })



                    // Get the header
                    var header = document.getElementById("myHeader");

                    // Get the offset position of the navbar
                    var sticky = header && header.offsetTop;

                    function checkScroll() {
                        if (window.pageYOffset > sticky) {
                            jQuery('.scroll-show').hide();
                            jQuery('.scroll-hide').show();
                        } else {
                            jQuery('.scroll-show').show();
                            jQuery('.scroll-hide').hide();
                        }
                    }
                </script>
            </footer>

            <!-- /FOOTER -->
            <script src="/static/js/jquery-2.2.4.min.js" type="text/javascript"></script>
            <script src="/static/js/bootstrap1.min.js" type="text/javascript"></script>
            <script src="/static/js/jquery.bootstrap.wizard.js" type="text/javascript"></script>
            <script src="/static/js/gsdk-bootstrap-wizard.js"></script>
            <script src="/static/js/jquery.validate.min.js"></script>

            <script src="/static/js/main1.js" type="text/javascript" charset="utf-8" async="" defer=""></script>

            <script>
                (function(i, s, o, g, r, a, m) {
                    i['GoogleAnalyticsObject'] = r;
                    i[r] = i[r] || function() {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
                    a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                    a.async = 1;
                    a.src = g;
                    m.parentNode.insertBefore(a, m)
                })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

                ga('create', 'UA-68790361-1', 'auto');
                //set cookiedomain to none for testing in localhost
                // ga('create', 'UA-46777564-1', {'cookieDomain': 'none'});
                ga('send', 'pageview');
            </script>
            <script type="text/javascript" src="/static/js/wp-embed.min.js"></script>
            <script src="/static/js/bootstrap-select.min.js"></script>

            <script>
                hljs.initHighlightingOnLoad();
            </script>

            <script src="/static/js/bootstrap-select-country.min.js"></script>
            <script type="text/javascript">
                $(function() {
                    $("#datepicker").datepicker({
                        autoclose: true,
                        todayHighlight: true
                    }).datepicker('update', new Date());
                    $("#ngayhoatdong").datepicker({
                        autoclose: true,
                        todayHighlight: true
                    }).datepicker('update', new Date());
                });
            </script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
            <script src="/static/js/PlacePicker.js"></script>

            <script src="/static/js/timepicker.js"></script>

            <script type="text/javascript">
                $(document).ready(function() {
                    $("#diachithuongtru").PlacePicker({
                        btnClass: "btn btn-xs btn-default",
                        key: "AIzaSyArDfi6xqaR3tbGkJov0I08y4eYV9KnrSI",
                        center: {
                            lat: 16.0779453,
                            lng: 108.211034
                        },
                        title: "Chọn nơi bạn đang sống",
                        success: function(data, address) {
                            $("#diachithuongtru").val(data.formatted_address);
                            $("#diachithuongtru").attr("readonly", false);
                        }
                    });
                    $("#diachihoatdong").PlacePicker({
                        btnClass: "btn btn-xs btn-default",
                        key: "AIzaSyArDfi6xqaR3tbGkJov0I08y4eYV9KnrSI",
                        center: {
                            lat: 16.0779453,
                            lng: 108.211034
                        },
                        title: "Chọn địa chỉ hoạt động của bạn",
                        success: function(data, address) {
                            $("#diachihoatdong").val(data.formatted_address);
                            $("#diachihoatdong").attr("readonly", false);
                            $('#latitude').val(data.lat);
                            $('#longitude').val(data.lng);
                        }
                    });
                    $(window).keydown(function(event) {
                        if (event.keyCode == 13) {
                            event.preventDefault();
                            return false;
                        }
                    });
                });
            </script>
            <script type="text/javascript">
                $(document).ready(function() {
                    $("#giohoatdong").timepicker();
                });
                $(document).ready(function() {
                    $("#giodongcua").timepicker();
                });
            </script>

            <script type="text/javascript">
                var allowSubmit = false;
                var allowEnter = false;

                function capcha_filled() {
                    allowSubmit = true;
                }

                function capcha_expired() {
                    allowSubmit = false;
                }
                function linhVucKD(){
                    for(var i=0;i<$('.dichvu').length;i++){
                        if($('.dichvu')[i].checked)
                            return true;
                    }
                    return false;
                }
                $('#finish').click(function() {
                    allowEnter = true;
                });
                $('#myForm').on('submit', function(e) {
                    if(!linhVucKD()) {
                        e.preventDefault();
                        alert('Bạn chưa chọn lĩnh vực kinh doanh!');
                    }
                    if (allowSubmit && allowEnter) return true;
                    e.preventDefault();
                    alert('Bạn chưa xác minh Captcha!');
                });

                var onloadCallback = function() {
                    // Renders the HTML element with id 'example1' as a reCAPTCHA widget.
                    // The id of the reCAPTCHA widget is assigned to 'widgetId1'.
                    grecaptcha.render('captcha', {
                        'sitekey': '6LeZU8EZAAAAAJ0D0LhPx4053iK6g6wjjgFoDuAK',
                        'theme': 'light',
                        'callback': capcha_filled,
                        'expired-callback': capcha_expired
                    });
                };
            </script>
            <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer>
            </script>
        </div>
    </div>
    <%- include('botchat'); %>
</body>

</html>